addict==2.4.0
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
beautifulsoup4==4.12.2
certifi==2022.12.7
cffi @ file:///D:/bld/cffi_1696001730392/work
cfgrib @ file:///home/conda/feedstock_root/build_artifacts/cfgrib_1684493284302/work
cftime==1.6.3
charset-normalizer==2.1.1
click @ file:///D:/bld/click_1692312014553/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy==1.2.0
crcmod==1.7
cryptography==41.0.7
cycler==0.12.1
eccodes @ file:///D:/bld/python-eccodes_1675176952003/work
filelock==3.9.0
findlibs @ file:///home/conda/feedstock_root/build_artifacts/findlibs_1682423883580/work
fonttools==4.47.0
fsspec==2023.4.0
GDAL==3.6.2
idna==3.4
imageio==2.33.1
importlib-metadata==7.0.1
Jinja2==3.1.2
jmespath==0.10.0
kiwisolver==1.4.5
lazy_loader==0.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mdurl==0.1.2
MetPy==1.6.0
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mmcv==2.1.0
mmengine==0.10.2
model-index==0.1.11
mpmath==1.3.0
netCDF4==1.6.5
networkx==3.0
opencv-python==4.9.0.80
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.33
ordered-set==4.1.0
oss2==2.17.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///D:/bld/pandas_1702057215983/work
Pillow==9.3.0
Pint==0.23
platformdirs==4.1.0
pooch==1.8.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome==3.19.1
Pygments==2.17.2
pyparsing==3.1.1
pyproj==3.6.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
pywin32==306
PyYAML==6.0.1
regex==2023.12.25
requests==2.28.2
rich==13.4.2
scikit-image==0.22.0
scipy==1.11.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.5
sympy==1.12
tabulate==0.9.0
termcolor==2.4.0
tifffile==2023.12.9
tomli==2.0.1
torch==2.1.2+cu121
torchaudio==2.1.2+cu121
torchvision==0.16.2+cu121
tqdm==4.65.2
traitlets==5.14.1
typing_extensions==4.4.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1703878702368/work
urllib3==1.26.13
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1702072927808/work
yapf==0.40.2
zipp==3.17.0
